#mainNav .brand span {
    display: inline-block;
    text-indent: -070517px;
    width: 156px;
    height: 31px;
    background: url(https://en-marche.fr/logo/large_bg_white.jpg) no-repeat 0 0;
    background-size: 100%;
    margin-top: 10px;
}
