@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

#mainNav {
    font-size: 18px;
    line-height: 28px;
    font-family: 'Gillsans', 'Roboto', Helvetica, sans-serif;
}

#mainNav .brand span {
    display: inline-block;
    text-indent: -070517px;
    width: 156px;
    height: 31px;
    background: url(https://en-marche.fr/logo/large_bg_white.jpg) no-repeat 0 0;
    background-size: 100%;
    margin-top: 10px;
}

/* SEARCH */

#searchBar .search-query {
    border-radius: 0;   
}

#searchBar button {
    padding: 7px 15px 7px;
    font-family: 'Gillsans', 'Roboto', Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: all 0.45s;    
    background-color: #01B2FB;
    border-radius: 0;
    border-color: transparent;
    text-shadow: none;
}
