@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

#mainNav {
    font-size: 18px;
    line-height: 28px;
    font-family: 'Gillsans', 'Roboto', Helvetica, sans-serif;
}

#mainNav .brand span {
    display: inline-block;
    text-indent: -070517px;
    width: 156px;
    height: 31px;
    background: url(https://en-marche.fr/logo/large_bg_white.jpg) no-repeat 0 0;
    background-size: 100%;
    margin-top: 10px;
}

/* search */

#docsSearch {
    background-image: url(https://enmarche.github.io/helpscout/images/legislatives.jpg);
    background-size: cover;
    background-position: center 28%;
    padding: 6em 0;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

#docsSearch:before {
    content: "";
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
}

#docsSearch h1 {
    font-family: 'Gillsans', 'Roboto', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 34px;
    color: white;
    position: relative;
}

#searchBar .search-query {
    border-radius: 0;   
}

#searchBar button {
    padding: 7px 15px 7px;
    font-family: 'Gillsans', 'Roboto', Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: all 0.45s;    
    background-color: #01B2FB;
    border-radius: 0;
    border-color: transparent;
    text-shadow: none;
}

#searchBar button:hover {
    background-color: #009FE1;
}

/* icons */
.category-list .category {
    background-color: #fff;
    background-position: top 34px center !important;
    background-repeat: no-repeat !important;
    background-size: auto 45px !important;
    box-shadow: 0 7px 4px -5px rgba(0,0,0,0.05);
    box-sizing: border-box;
    min-height: 183px;
    padding: 90px 20px 20px;
    position: relative;
    width: 31.5%;
    transition: all 0.2s;
}

a#category-6 {
    background-image: url(https://enmarche.github.io/helpscout/images/icons/legal.png);
}
a#category-42 {
    background-image: url(https://enmarche.github.io/helpscout/images/icons/budget.png);
}
a#category-63 {
    background-image: url(https://enmarche.github.io/helpscout/images/icons/campagne.png);
}
a#category-100 {
    background-image: url(https://enmarche.github.io/helpscout/images/icons/print.png);
}
a#category-102 {
    background-image: url(https://enmarche.github.io/helpscout/images/icons/website.png);
}
a#category-104 {
    background-image: url(https://enmarche.github.io/helpscout/images/icons/formation.png);
}
a#category-66 {
    background-image: url(https://enmarche.github.io/helpscout/images/icons/programme.png);
}
a#category-97 {
    background-image: url(https://enmarche.github.io/helpscout/images/icons/circonscription.png);
}
a#category-95 {
    background-image: url(https://enmarche.github.io/helpscout/images/icons/meetings.png);
}



